.cont{
    padding: 300px;
}

.card-container{
    background-color: #fff;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 5px; */
    border-radius: 15px;
    gap: 3px;
    max-width: 200px;
    max-height: 400px;
    box-shadow: 5px 5px 15px #dadada;
    padding-bottom: 10px;
    transition: transform 200ms;
    cursor: pointer;
  }
  
  .load-more{
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
    color: #fff;
    background-color: #000;
    margin: 40px;
    cursor: pointer;
  }
  
  .load-more:hover{
    transform: translate(-1px, -1px);
    box-shadow: 5px 5px 15px #cccccc;
  }
  .img-container{
    width: 180px;
    height: 220px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 10px;
    flex-direction: column;
  }
  
  .img-container img{
    max-width: 150px;
    max-height: 220px;
    object-fit: cover;
    position: absolute;
  }
  
  .number{
    position: relative;
    top: -80px;
    font-size: 30px;
    font-family: 'Tektur', cursive;
    color: #00000028;
  }
  
  .details{
    text-transform: capitalize;
  }
  
  .details h3{
    font-size: 20px;
  }

  .normal{
    background: linear-gradient(180deg, #a8a878, #ffffff00);
  }
  
  .grass{
    background: linear-gradient(180deg, #78c850, #ffffff00);
  }
  
  .fire{
    background: linear-gradient(180deg, #f08030, #ffffff00);
  }
  
  .fighting{
    background: linear-gradient(180deg, #c03028, #ffffff00);
  }
  
  .water{
    background: linear-gradient(180deg, #6890f0, #ffffff00);
  }
  
  .flying{
    background: linear-gradient(180deg, #a890f0, #ffffff00);
  }
  
  .poison{
    background: linear-gradient(180deg, #a040a0, #ffffff00);
  }
  
  .electric{
    background: linear-gradient(180deg, #f8d030, #ffffff00);
  }
  
  .ground{
    background: linear-gradient(180deg, #e0c068, #ffffff00);
  }
  
  .psychic{
    background: linear-gradient(180deg, #f85888, #ffffff00);
  }
  
  .ice{
    background: linear-gradient(180deg, #98d8d8, #ffffff00);
  }
  
  .bug{
    background: linear-gradient(180deg, #a8b820, #ffffff00);
  }
  
  .bug{
    background: linear-gradient(180deg, #7038f8, #ffffff00);
  }
  
  .ghost{
    background: linear-gradient(180deg, #705898, #ffffff00);
  }
  
  .dark{
    background: linear-gradient(180deg, #705848, #ffffff00);
  }
  
  .steel{
    background: linear-gradient(180deg, #b8b8d0, #ffffff00);
  }
  
  .fairy{
    background: linear-gradient(180deg, #ee99ac, #ffffff00);
  }
