.cont{
    padding: 300px;
}

.img-cont{
    width: 320px;
    height: 300px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 10px;
    flex-direction: column;
  }
  
  .img-cont img{
    max-width: 300px;
    max-height: 290px;
    object-fit: cover;
    position: absolute;
  }
  
  .card-container:hover{
    transform: translate(-4px, -3px);
    box-shadow: 5px 5px 15px #cccccc;
  }
  
  .number{
    position: relative;
    top: -80px;
    font-size: 30px;
    font-family: 'Tektur', cursive;
    color: #00000028;
  }
  
  .details{
    text-transform: capitalize;
  }
  
  .details h3{
    margin: 10px 5px;
    letter-spacing: 2px;
    font-size: 40px;
  }

  .normal{
    background: linear-gradient(180deg, #a8a878, #ffffff00);
  }
  
  .grass{
    background: linear-gradient(180deg, #78c850, #ffffff00);
  }
  
  .fire{
    background: linear-gradient(180deg, #f08030, #ffffff00);
  }
  
  .fighting{
    background: linear-gradient(180deg, #c03028, #ffffff00);
  }
  
  .water{
    background: linear-gradient(180deg, #6890f0, #ffffff00);
  }
  
  .flying{
    background: linear-gradient(180deg, #a890f0, #ffffff00);
  }
  
  .poison{
    background: linear-gradient(180deg, #a040a0, #ffffff00);
  }
  
  .electric{
    background: linear-gradient(180deg, #f8d030, #ffffff00);
  }
  
  .ground{
    background: linear-gradient(180deg, #e0c068, #ffffff00);
  }
  
  .psychic{
    background: linear-gradient(180deg, #f85888, #ffffff00);
  }
  
  .ice{
    background: linear-gradient(180deg, #98d8d8, #ffffff00);
  }
  
  .bug{
    background: linear-gradient(180deg, #a8b820, #ffffff00);
  }
  
  .bug{
    background: linear-gradient(180deg, #7038f8, #ffffff00);
  }
  
  .ghost{
    background: linear-gradient(180deg, #705898, #ffffff00);
  }
  
  .dark{
    background: linear-gradient(180deg, #705848, #ffffff00);
  }
  
  .steel{
    background: linear-gradient(180deg, #b8b8d0, #ffffff00);
  }
  
  .fairy{
    background: linear-gradient(180deg, #ee99ac, #ffffff00);
  }

  .pic{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

.type{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

