@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600;700;800;900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600;700;800;900&display=swap');


.search-box{
    padding: 4px 4px;
    margin: 25px;
    display: flex;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #dadada;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}
  
.search-bar{
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 15px;
    outline: none;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    font-weight: 600;
}
  
.search-btn{
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
}
  
.search-bar::placeholder{
    color: #00000034;
}
  
.search-btn:hover{
    background-color: rgba(206, 205, 205, 0.527);
}

.loader{
    margin-top: 150px;
    margin-bottom: 150px;
}