@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    
}

.container{
    width: 400px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 0 0 25px #09465e;
}

.search-box{
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.search-box input{
    width: 85%;
    font-size: 20px;
    text-transform: capitalize;
    color: black;
    background-color: #e6f5fb;
    padding: 10px 16px;
    border-radius: 10px;
}

.search-box input::placeholder{
    color: rgb(105, 105, 105);
}

.search-box button{
    width: 50px;
    height: 50px;
    background-color: #e6f5fb;
    border-radius: 50%;
    margin-left: 5px;
    font-size: 18px;
    cursor: pointer;
}
.search-box button:hover{
    background-color: #cad8ec;
    box-shadow: 0 0 3px #cad8ec;
}

.weather-body{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 20px;
}

.weather-body img{
    width: 50%;
}
.weather-box{
    margin-block: 20px;
    text-align: center;
}

.weather-box .temperature{
    font-size: 38px;
    font-weight: 800;
    position: relative;
}

.weather-box .temperature sup{
    font-size: 25px;
    font-weight: 600;
    position: absolute;
}

.weather-box .description{
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 700;
}

.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

}

.humidity, .wind{
    display: flex;
    align-items: center;
}

.humidity{
    margin-left: 10px;
}

.wind{
    margin-right: 10px;
}

.weather-details i{
    font-size: 35px;
}

.text{
    margin-left: 10px;
    text-align: left;
    font-size: 16px
}

.text span{
    font-size: 20px;
    font-weight: 700;
}

.location-not-found{
    margin: 20px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location-not-found h1{
    font-size: 20px;
    color: #6b6b6b;
    margin-block-end: 15px;
}
.location-not-found img{
    width: 80%;
}
