@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: #fff;
}

.heading{
    height: 200px;
    width: 100%;
    background: #ec3f53;
    color: #fff;
    align-items: center;
    font-size: 25px;
    font-weight: 1000;
    display: flex;
    justify-content: center;
    transition: height 2s;
}

.login{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.log-input{
    width: 350px;
    height: 40px;
    margin: 20px 0px;
    text-align: center;
    border-radius: 10px;
    border:3px solid #eb7280;
    outline: #ec3f53;
    font-size: 20px;
    font-weight: 500;
}

.logBtn{
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: #eb7280;
    color: #fff;
    font-weight: 1000;
    font-size: 17px;
    cursor: pointer;
}

.logBtn:hover{
    background-color: #ec3f53;
}


.chat-box{
    /* background-color: #ec3f53; */
    height: 450px;
    width: 450px;
    padding: 30px;
    margin-top: 40px;
    /* border: 1px solid #eb7280; */
    border-radius: 10px;
}

.send{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
    gap: 10px;
    padding: 10px;
    border-top: 5px dashed #ec3f53;
}

.send-txt{
    border: none;
    outline: none;
    width: 100%;
    border: 2px solid #eb7280;
    border-radius: 10px;
    padding: 5px;
    font-size: 15px;
}

.send-icon{
    color: #ec3f53;
    font-size: 18px;
    cursor: pointer;
    width: 50px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}

.send-icon:hover{
    background-color: #ec3f53;
    color: #fff;
}

.logout{
    margin-top: 50px;
    color: #d3273b;
    font-weight: 600;
    cursor: pointer;
}

ul{
    list-style: none;
}

.name{
    color: #d3273b;
    font-weight: 600;
}

li{
    margin-bottom: 5px;
    background: #5555550a;
    border-radius: 10px;
    padding: 10px;
    float: left;
    clear: left;
}