@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom left, #55bcc4, #cb6fd1);
    display: flex;
    align-items: center;
    justify-content: center;

}

.container{
    padding: 20px;
    background-color: #183446;
    box-shadow: 0 0 15px #003542;
    border-radius: 25px;
    width: 450px;
}

.frm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    color: #fff;
    gap: 10px;
}

button{
    font-size: 30px;
    background: none;
    outline: none;
    border: none;
    color: #013d63;
}

.password-box{
    background-color: #e9f4ff;
    margin: 20px 0px 20px 0px;
    border-radius: 20px;
    height: 70px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
}

.panel{
    padding: 10px;
    color: #183446;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

button:hover{
    color: #369ddd;
    font-size: 32px;
    cursor: pointer;
}

.heading{
    color: #fff;
    margin: 10px;
    text-align: center;
}

.textbox{
    display: flex;
    width: 100%;
    padding-left: 20px;
}

.slide{
    text-align: center;
    width: 100%;
    cursor: pointer;
}

.min-max{
    text-align: center;
    margin: 5px;
}

.options{
    background-color: #35566b;
    padding: 15px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-text{
    text-align: left;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #00add8;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.btn{
    margin-top: 20px;
    background-color: #6eb0ee;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn:hover{
    color: #00252e;
}

a{
  color: #fff;
  text-decoration: none;
}

